<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Comentarios | D'Antojitos ©</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='uploads/logo.ico') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_comentarios.css') }}">
</head>
<body>
    
{% include 'navbar.html' %}

<main>
    <div class="chat-container p-3">
        <div id="chatBox" class="mb-3"></div>
        <div class="d-flex flex-column">
            <textarea id="mensajeInput" class="form-control" rows="3" placeholder="Danos tu opinión..."></textarea>
            <button id="sendBtn" class="btn btn-primary w-100 mt-2">Enviar Sugerencia</button>
        </div>
    </div>
</main>

<div class="dropdown-actions" id="accionesDropdownContainer">
    <ul class="dropdown-menu show" id="accionesDropdown"></ul>
</div>

<div id="toastContainer" class="position-fixed top-0 start-0 p-3"></div>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    window.userId = "{{ user_id }}";
    window.userLogged = "{{ 'true' if session.get('user') else 'false' }}" === "true";
</script>
<script src="{{ url_for('static', filename='js/comentarios.js') }}"></script>
</body>
</html>